body{
    background-color: #ebecee;
}
.cabeca{
    display: flex;
    justify-content:space-around;
    background-color:white;
    align-items:center
}
.conteiner{
    margin: 0px 20px;
    padding: 0.5em;
}
.menuzin{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(assets/IMG/AluraBooks/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.listinha{
    display: none;
}
.menu-checkbox:checked ~ .listinha{
display: block;
}


