.xvideos{
    background-image: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.pornhub{
    font-size: 18px;
    font-weight 700;

}
.brasileirinhas{

}

