body{
    background-color: #ebecee;
}
.cabeca{
    display: flex;
    justify-content:space-between;
    background-color:white;
    align-items:center
}
.conteiner{
    margin: 0px 20px;
    padding: 0.5em;
}
.menuzin{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../IMG/AluraBooks/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.listinha{
    display: none;
    position:absolute
    width:60vw;
}
.menu-checkbox:checked ~ .listinha{
display: block;
}

.listinha-item{
    padding: 1em;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: initial;
}

